<div class="row">
  <div class="twelve columns">
    <p>
      Hi there! Welcome to <code>Writhub</code>. You can log in or register <a href="/login">here</a>.
    </p>
    <a href="auth/github" class="btn-github btn-lg">
        Sign in with Github
    </a>
    <div>
      
    </div>
  </div>
</div>
