<div class="row">
  <div class="twelve columns">

     <p>Hi {{authUser.username}}! Welcome to the writer.</p>
    <p>You are logged in. Click <a href="/logout">here</a> to log out!</p>
    <textarea cols="80" rows="100"></textarea>
    <div>
      
    </div>
  </div>
</div>
